
:root{
    --bg-color: #ffffff;
	--text-color: #000;
	--secound-color: #a09dab;
	--main-color: #f75023;
}

html {
    scroll-behavior: smooth;
  }
.heading{
     font-size: 3rem;
     text-align: center;
     color: #a09dab;
     text-decoration: underline;
     
}
.heading span{
    color: #f75023;
}
section{
    padding: 4rem 10%;
}

.hero{
    margin:4rem 0;
}
.hero .container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 2rem;
}
.container .hero-text{
    flex: 1 1 15rem;
}
.hero-text h1{
    font-size: 2.5rem;
    color: #444;
}
.hero-text h3{
     font-size: 1.8rem;
     font-weight:400;
     color:#444;
}
.hero-text h3 span{
     color: #f75023;
}
.hero-text p{
     font-size: 1.2rem;
     color: #a09dab;
}
.container .image{
    flex: 1 1 15rem;
}
.image img{
    width: 100%;
    height: 100%;
}

.about .about-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      gap: 1rem;
      text-align: center;
}
.about-content span{
    font-size: 1.4rem;
    color: #444;
}
.about-content p{
    color: #a09dab;
    font-size: 1.2rem;
}

.service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:4% 0; 
    gap: 2rem;
}
.service .box{
    padding: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 0.5rem;
}
.box i{
    font-size: 3rem;
    color: #f75023;
    transition: all 0.3s linear;
}
.box:hover i{
    color: #444;
}
.box h4{
     font-size: 1.5rem;
     font-weight: 400;
     text-align: center;
}
.box p{
    font-size: 1.1rem;
    color: #a09dab;
    text-align: center;
}

footer{
     width: 100%;
     background: #444;
     padding:1% 4%; 
}
.top{
    
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
}
.top h1{
     font-size: 2rem;
     color: #ffffff;
     font-weight: 400;
}
.top .icons{
     display: flex;
     gap: 1rem;
}
.icons i{
    font-size: 2rem;
    transition: all 0.3s linear;
    cursor: pointer;
}
.icons i:nth-child(1){
    color:#316FF6;
}
.icons i:nth-child(2){
    color: white;
}
.icons i:nth-child(2)::before{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff0 !important;
}
.icons i:nth-child(3){
    color: #0077b5;
}
.icons i:nth-child(4){
    color: #1DA1F2;
}
.icons i:nth-child(5){
    color:  #009EDC;
}
.icons i:hover{
     transform: scale(1.2);
}

@media(max-width:991px){
    .sidebar{
        background-color: rgba(255,255,255, 0.15);
        backdrop-filter: blur(10px);
    }
}

@media(max-width:830px){
    .hero-text h1{
        font-size: 2rem;
        color: #444;
    }
    .hero-text h3{
         font-size: 1.4rem;
    }
}

@media(max-width:500px){
     section{
         padding:30px 4% ;
     }
     .about-content span{
        font-size: 1.2rem;
    }
    .about-content p{
        color: #a09dab;
        font-size: 1rem;
    }
    .service .box{
        width: 250px;
    }
}

