
:root{
    --bg-color: #ffffff;
	--text-color: #000;
	--secound-color: #a09dab;
	--main-color: #f75023;
}

html {
    scroll-behavior: smooth;
  }
.heading{
     font-size: 3rem;
     text-align: center;
     color: #a09dab;
     text-decoration: underline;
     
}
.heading span{
    color: #f75023;
}
section{
    padding: 4rem 10%;
}

.hero{
    margin:4rem 0;
}
.hero .container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 2rem;
}
.container .hero-text{
    flex: 1 1 15rem;
}
.hero-text h1{
    font-size: 2.5rem;
    color: #444;
}
.hero-text h3{
     font-size: 1.8rem;
     font-weight:400;
     color:#444;
}
.hero-text h3 span{
     color: #f75023;
}
.hero-text p{
     font-size: 1.2rem;
     color: #a09dab;
}
.container .image{
    flex: 1 1 15rem;
}
.image img{
    width: 100%;
    height: 100%;
}

.about .about-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      gap: 1rem;
      text-align: center;
}
.about-content span{
    font-size: 1.4rem;
    color: #444;
}
.about-content p{
    color: #a09dab;
    font-size: 1.2rem;
}

.service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:4% 0; 
    gap: 2rem;
}
.service .box{
    padding: 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 0.5rem;
}
.box i{
    font-size: 3rem;
    color: #f75023;
    transition: all 0.3s linear;
}
.box:hover i{
    color: #444;
}
.box h4{
     font-size: 1.5rem;
     font-weight: 400;
     text-align: center;
}
.box p{
    font-size: 1.1rem;
    color: #a09dab;
    text-align: center;
}

@media(max-width:991px){
    .sidebar{
        background-color: rgba(255,255,255, 0.15);
        backdrop-filter: blur(10px);
    }
}

@media(max-width:830px){
    .hero-text h1{
        font-size: 2rem;
        color: #444;
    }
    .hero-text h3{
         font-size: 1.4rem;
    }
}

@media(max-width:500px){
     section{
         padding:30px 4% ;
     }
     .about-content span{
        font-size: 1.2rem;
    }
    .about-content p{
        color: #a09dab;
        font-size: 1rem;
    }
    .service .box{
        width: 250px;
    }
}

