
:root{
    --bg-color: #ffffff;
	--text-color: #000;
	--secound-color: #a09dab;
	--main-color: #f75023;
}





@media(max-width:991px){
    .sidebar{
        background-color: rgba(255,255,255, 0.15);
        backdrop-filter: blur(10px);
    }
}